attrs==19.3.0
coverage==5.2.1
importlib-metadata==1.7.0
iniconfig==1.0.0
more-itertools==8.4.0
numpy==1.22.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
pytest==6.0.0
pytest-cov==2.10.0
scipy==1.5.2
six==1.15.0
toml==0.10.1
zipp==3.1.0
